## Deliverable 2. Create a Customer Travel Destinations Map.

In [58]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps
import ipywidgets as widgets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [59]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:\\Users\johns\Class\World_Weather_Analysis\Weather_Database\WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Manono,CD,-7.3000,27.4167,67.41,93,93,3.80,overcast clouds
1,1,Marsa Matruh,EG,31.3525,27.2453,60.80,67,75,12.66,broken clouds
2,2,Rikitea,PF,-23.1203,-134.9692,77.50,72,3,3.04,clear sky
3,3,Ushuaia,AR,-54.8000,-68.3000,46.40,49,20,6.91,few clouds
4,4,Bodden Town,KY,19.2833,-81.2500,82.99,74,20,10.36,few clouds

In [61]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 85

In [62]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Rikitea,PF,-23.1203,-134.9692,77.50,72,3,3.04,clear sky
4,4,Bodden Town,KY,19.2833,-81.2500,82.99,74,20,10.36,few clouds
5,5,Butaritari,KI,3.0707,172.7902,81.97,77,87,18.97,light rain
11,11,Avarua,CK,-21.2078,-159.7750,80.60,69,75,11.50,light rain
12,12,Sao Filipe,CV,14.8961,-24.4956,72.86,73,100,9.35,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
686,686,Eyl,SO,7.9803,49.8164,81.43,79,85,7.11,light rain
688,688,Pontes E Lacerda,BR,-15.2261,-59.3353,72.59,85,1,2.51,clear sky
689,689,Neiafu,TO,-18.6500,-173.9833,84.20,74,40,5.75,scattered clouds
692,692,Puerto Ayacucho,VE,5.6639,-67.6236,80.73,62,12,5.70,few clouds
693,693,Cam Ranh,VN,11.9214,109.1591,80.60,78,20,4.61,few clouds

In [63]:
# 4a. Determine if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Country                2
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [64]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Rikitea,PF,-23.1203,-134.9692,77.50,72,3,3.04,clear sky
4,4,Bodden Town,KY,19.2833,-81.2500,82.99,74,20,10.36,few clouds
5,5,Butaritari,KI,3.0707,172.7902,81.97,77,87,18.97,light rain
11,11,Avarua,CK,-21.2078,-159.7750,80.60,69,75,11.50,light rain
12,12,Sao Filipe,CV,14.8961,-24.4956,72.86,73,100,9.35,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
686,686,Eyl,SO,7.9803,49.8164,81.43,79,85,7.11,light rain
688,688,Pontes E Lacerda,BR,-15.2261,-59.3353,72.59,85,1,2.51,clear sky
689,689,Neiafu,TO,-18.6500,-173.9833,84.20,74,40,5.75,scattered clouds
692,692,Puerto Ayacucho,VE,5.6639,-67.6236,80.73,62,12,5.70,few clouds
693,693,Cam Ranh,VN,11.9214,109.1591,80.60,78,20,4.61,few clouds

In [65]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
clean_hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
clean_hotel_df["Hotel Name"] = ""
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Rikitea,PF,77.50,clear sky,-23.1203,-134.9692,
4,Bodden Town,KY,82.99,few clouds,19.2833,-81.2500,
5,Butaritari,KI,81.97,light rain,3.0707,172.7902,
11,Avarua,CK,80.60,light rain,-21.2078,-159.7750,
12,Sao Filipe,CV,72.86,overcast clouds,14.8961,-24.4956,
...,...,...,...,...,...,...,...
686,Eyl,SO,81.43,light rain,7.9803,49.8164,
688,Pontes E Lacerda,BR,72.59,clear sky,-15.2261,-59.3353,
689,Neiafu,TO,84.20,scattered clouds,-18.6500,-173.9833,
692,Puerto Ayacucho,VE,80.73,few clouds,5.6639,-67.6236,
693,Cam Ranh,VN,80.60,few clouds,11.9214,109.1591,

In [66]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in clean_hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        clean_hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        clean_hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [67]:
# 7. Drop the rows where there is no Hotel Name.
clean_df = clean_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Rikitea,PF,77.50,clear sky,-23.1203,-134.9692,Pension Maro'i
4,Bodden Town,KY,82.99,few clouds,19.2833,-81.2500,Will T Place
5,Butaritari,KI,81.97,light rain,3.0707,172.7902,Isles Sunset Lodge
11,Avarua,CK,80.60,light rain,-21.2078,-159.7750,Paradise Inn
12,Sao Filipe,CV,72.86,overcast clouds,14.8961,-24.4956,Tortuga B&B
...,...,...,...,...,...,...,...
686,Eyl,SO,81.43,light rain,7.9803,49.8164,Amiin Hotel
688,Pontes E Lacerda,BR,72.59,clear sky,-15.2261,-59.3353,Hotel Bressan
689,Neiafu,TO,84.20,scattered clouds,-18.6500,-173.9833,Mystic Sands
692,Puerto Ayacucho,VE,80.73,few clouds,5.6639,-67.6236,Posada Turistica Manapiare
693,Cam Ranh,VN,80.60,few clouds,11.9214,109.1591,OYO 598 Peony Hotel

In [68]:
# 8a. Create the output File (CSV)
output_data_file = "C:\\Users\johns\Class\World_Weather_Analysis\Vacation_Search\WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [69]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [73]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))